@model IEnumerable<OnlineShop.Models.PurchaseDetail>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UOM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puchase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UOM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puchase.PurchaseId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
