@model OnlineShop.Models.Delivery

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Delivery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesOrder.SalesOrderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeliveryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
