@model IEnumerable<OnlineShop.Models.Delivery>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryNo)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrder.SalesOrderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeliveryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeliveryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeliveryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
