@model OnlineShop.Models.SalesOrder

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalesOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipAddressLine1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipAddressLine1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipAddressLine2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipAddressLine2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipAddressLine3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipAddressLine3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillAddressLine1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillAddressLine1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillAddressLine2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillAddressLine2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillAddressLine3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillAddressLine3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalesOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
